body {
  background-color: #2f3542;
  font-family: Ubuntu Mono;
  font-size: 20px;
  margin: 0;
}

div.header {
  text-align: center;
  color: #dcdde1;
  padding: 0px 20px 0px 20px;
  font-size: 1em;
}

@media only screen and (max-width: 500px) {
  div.header {
    font-size: 15px;
  }
}

.main {
  margin: 20px auto;
  width: 80%;
}

.filedrop {
  border-radius: 10px;
  color: #f1f2f6;
  font-size: 30px;
  background-color: #1e90ff !important;
  font-weight: bold;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  background-color: #2ed573;
}

.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  background-color: inherit !important;
  color: #ced6e0 !important;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: white !important;
  background-color: #2ed573 !important;
}

.clear-button {
  font-family: Ubuntu Mono;
  font-size: 20px;
  background-color: #e74c3c;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  width: 100%;
  height: 3em;
  margin-top: 20px;
}

.clear-button:hover {
  background-color: #ec6253;
}

.dropzone .dz-preview .dz-error-message {
  background: #eb4d4b !important;
}
.dropzone .dz-preview .dz-error-message:after {
  border-bottom: 6px solid #eb4d4b !important;
}

